name: MyOrangeBlues
path: .
db: ./project.db

# Repository / Deployment settings
heroku_app_name: my-orange-blues
github_repository: user/repo

# Common settings
heroku_api_key: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
travis_access_token: XXXXXXXXXXXXXXXXXXXXXX
github_access_token: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
